<%- include('header') %>

  <body>
    <nav class="light-blue lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">Social Authentication</a>
        <a href="/logout" class="right">Logout</a>
      </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <div class="row center">
          <div class="col s12">
            <div class="card">
              <div class="card-content blue lighten-3">
                <span class="card-title white-text"><strong><i class="large material-icons">person</i>
                  </strong></span>
              </div>
              <div class="card-action">
                <h5>
                  <%= user.displayName %>
                </h5>
                <p>
                  <strong>Provider</strong>: <%= user.provider %>
                </p>
                <p>
                  <strong>User id</strong>: <%= user.id %>
                </p>
                <p>
                  <strong>email</strong>: <%= user.emails[0].value %>
                </p>
                <% if (user.photos) { %>
                  <p>
                    <strong>Photo</strong>: <%= user.photos[0].value %>
                  </p>
                  <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  </html>